In [2]:
import pandas as pd
import numpy as np

In [42]:
data = pd.read_csv('owid-covid-data.csv')

In [43]:
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [44]:
removedLoc = ['Europe','World','Asia','European Union','North America','South America','Africa','Oceania','International']
data = data[~data['location'].isin(removedLoc)]

In [45]:
data['extreme_poverty'].describe()

count    49022.000000
mean        13.339439
std         20.015123
min          0.100000
25%          0.500000
50%          2.000000
75%         21.200000
max         77.600000
Name: extreme_poverty, dtype: float64

In [46]:
variables = data[['location','human_development_index','stringency_index','extreme_poverty','median_age']]

In [47]:
variables.drop_duplicates()

,location,human_development_index,stringency_index,extreme_poverty,median_age
0,Afghanistan,0.511,8.33,NaN,18.6
6,Afghanistan,0.511,27.78,NaN,18.6
19,Afghanistan,0.511,38.89,NaN,18.6
23,Afghanistan,0.511,41.67,NaN,18.6
29,Afghanistan,0.511,50.93,NaN,18.6
...,...,...,...,...,...
79844,Zimbabwe,0.571,42.59,21.4,19.6
79851,Zimbabwe,0.571,55.56,21.4,19.6
79858,Zimbabwe,0.571,61.11,21.4,19.6
79865,Zimbabwe,0.571,57.41,21.4,19.6
79878,Zimbabwe,0.571,NaN,21.4,19.6

In [48]:
columns = ['iso_code','continent','location','date','new_cases_smoothed_per_million','people_vaccinated_per_hundred','stringency_index','human_development_index','extreme_poverty','median_age']

In [49]:
columns[4:]

['new_cases_smoothed_per_million',
 'people_vaccinated_per_hundred',
 'stringency_index',
 'human_development_index',
 'extreme_poverty',
 'median_age']

In [50]:
data = data[columns]

In [51]:
# data['people_vaccinated_per_hundred'] = data['people_vaccinated_per_hundred'].fillna(0)
# data['new_cases_smoothed_per_million'] = data['new_cases_smoothed_per_million'].fillna(0)

In [52]:
filled =  data.groupby('location').ffill().fillna(0)

In [53]:
data[columns[4:]] = filled[columns[4:]]

In [30]:
allDates = data['date'].unique()

In [31]:
allCountries = data['location'].unique()

In [54]:
np.sum(data.isna())

iso_code                          0
continent                         0
location                          0
date                              0
new_cases_smoothed_per_million    0
people_vaccinated_per_hundred     0
stringency_index                  0
human_development_index           0
extreme_poverty                   0
median_age                        0
dtype: int64

In [55]:
allDates

NameError: name 'allDates' is not defined

In [12]:

for country in countries:
    countryDf = df.loc[,df['location']==country]
    emptyDates

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Asia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Europe', 'European Union', 'Faeroe Islands', 'Falkland Islands',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North America', 'North Macedonia',
       'Northern Cyprus', 'Norway', 'Oceania', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turks and Caicos Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [56]:
data.to_csv('data/parsed_final.csv',index=False)

In [3]:
data = pd.read_csv('data/parsed_final.csv')

In [4]:
data.head()

,iso_code,continent,location,date,new_cases_smoothed_per_million,people_vaccinated_per_hundred,stringency_index,human_development_index,extreme_poverty,median_age
0,AFG,Asia,Afghanistan,2020-02-24,0.0,0.0,8.33,0.511,0.0,18.6
1,AFG,Asia,Afghanistan,2020-02-25,0.0,0.0,8.33,0.511,0.0,18.6
2,AFG,Asia,Afghanistan,2020-02-26,0.0,0.0,8.33,0.511,0.0,18.6
3,AFG,Asia,Afghanistan,2020-02-27,0.0,0.0,8.33,0.511,0.0,18.6
4,AFG,Asia,Afghanistan,2020-02-28,0.0,0.0,8.33,0.511,0.0,18.6

In [7]:
sorted(list(set(data['location'])))

['Afghanistan',
 'Africa',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Asia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Democratic Republic of Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Europe',
 'European Union',
 'Faeroe Islands',
 'Falkland Islands',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'International',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia (country)',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North America',
 'North Macedonia',
 'Northern Cyprus',
 'Norway',
 'Oceania',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South America',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turks and Caicos Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican',
 'Venezuela',
 'Vietnam',
 'World',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [6]:
np.max(data['new_cases_smoothed_per_million'])

2648.773

In [2]:
allDates = [
        "2020-01-01",
        "2020-01-02",
        "2020-01-03",
        "2020-01-04",
        "2020-01-05",
        "2020-01-06",
        "2020-01-07",
        "2020-01-08",
        "2020-01-09",
        "2020-01-10",
        "2020-01-11",
        "2020-01-12",
        "2020-01-13",
        "2020-01-14",
        "2020-01-15",
        "2020-01-16",
        "2020-01-17",
        "2020-01-18",
        "2020-01-19",
        "2020-01-20",
        "2020-01-21",
        "2020-01-22",
        "2020-01-23",
        "2020-01-24",
        "2020-01-25",
        "2020-01-26",
        "2020-01-27",
        "2020-01-28",
        "2020-01-29",
        "2020-01-30",
        "2020-01-31",
        "2020-02-01",
        "2020-02-02",
        "2020-02-03",
        "2020-02-04",
        "2020-02-05",
        "2020-02-06",
        "2020-02-07",
        "2020-02-08",
        "2020-02-09",
        "2020-02-10",
        "2020-02-11",
        "2020-02-12",
        "2020-02-13",
        "2020-02-14",
        "2020-02-15",
        "2020-02-16",
        "2020-02-17",
        "2020-02-18",
        "2020-02-19",
        "2020-02-20",
        "2020-02-21",
        "2020-02-22",
        "2020-02-23",
        "2020-02-24",
        "2020-02-25",
        "2020-02-26",
        "2020-02-27",
        "2020-02-28",
        "2020-02-29",
        "2020-03-01",
        "2020-03-02",
        "2020-03-03",
        "2020-03-04",
        "2020-03-05",
        "2020-03-06",
        "2020-03-07",
        "2020-03-08",
        "2020-03-09",
        "2020-03-10",
        "2020-03-11",
        "2020-03-12",
        "2020-03-13",
        "2020-03-14",
        "2020-03-15",
        "2020-03-16",
        "2020-03-17",
        "2020-03-18",
        "2020-03-19",
        "2020-03-20",
        "2020-03-21",
        "2020-03-22",
        "2020-03-23",
        "2020-03-24",
        "2020-03-25",
        "2020-03-26",
        "2020-03-27",
        "2020-03-28",
        "2020-03-29",
        "2020-03-30",
        "2020-03-31",
        "2020-04-01",
        "2020-04-02",
        "2020-04-03",
        "2020-04-04",
        "2020-04-05",
        "2020-04-06",
        "2020-04-07",
        "2020-04-08",
        "2020-04-09",
        "2020-04-10",
        "2020-04-11",
        "2020-04-12",
        "2020-04-13",
        "2020-04-14",
        "2020-04-15",
        "2020-04-16",
        "2020-04-17",
        "2020-04-18",
        "2020-04-19",
        "2020-04-20",
        "2020-04-21",
        "2020-04-22",
        "2020-04-23",
        "2020-04-24",
        "2020-04-25",
        "2020-04-26",
        "2020-04-27",
        "2020-04-28",
        "2020-04-29",
        "2020-04-30",
        "2020-05-01",
        "2020-05-02",
        "2020-05-03",
        "2020-05-04",
        "2020-05-05",
        "2020-05-06",
        "2020-05-07",
        "2020-05-08",
        "2020-05-09",
        "2020-05-10",
        "2020-05-11",
        "2020-05-12",
        "2020-05-13",
        "2020-05-14",
        "2020-05-15",
        "2020-05-16",
        "2020-05-17",
        "2020-05-18",
        "2020-05-19",
        "2020-05-20",
        "2020-05-21",
        "2020-05-22",
        "2020-05-23",
        "2020-05-24",
        "2020-05-25",
        "2020-05-26",
        "2020-05-27",
        "2020-05-28",
        "2020-05-29",
        "2020-05-30",
        "2020-05-31",
        "2020-06-01",
        "2020-06-02",
        "2020-06-03",
        "2020-06-04",
        "2020-06-05",
        "2020-06-06",
        "2020-06-07",
        "2020-06-08",
        "2020-06-09",
        "2020-06-10",
        "2020-06-11",
        "2020-06-12",
        "2020-06-13",
        "2020-06-14",
        "2020-06-15",
        "2020-06-16",
        "2020-06-17",
        "2020-06-18",
        "2020-06-19",
        "2020-06-20",
        "2020-06-21",
        "2020-06-22",
        "2020-06-23",
        "2020-06-24",
        "2020-06-25",
        "2020-06-26",
        "2020-06-27",
        "2020-06-28",
        "2020-06-29",
        "2020-06-30",
        "2020-07-01",
        "2020-07-02",
        "2020-07-03",
        "2020-07-04",
        "2020-07-05",
        "2020-07-06",
        "2020-07-07",
        "2020-07-08",
        "2020-07-09",
        "2020-07-10",
        "2020-07-11",
        "2020-07-12",
        "2020-07-13",
        "2020-07-14",
        "2020-07-15",
        "2020-07-16",
        "2020-07-17",
        "2020-07-18",
        "2020-07-19",
        "2020-07-20",
        "2020-07-21",
        "2020-07-22",
        "2020-07-23",
        "2020-07-24",
        "2020-07-25",
        "2020-07-26",
        "2020-07-27",
        "2020-07-28",
        "2020-07-29",
        "2020-07-30",
        "2020-07-31",
        "2020-08-01",
        "2020-08-02",
        "2020-08-03",
        "2020-08-04",
        "2020-08-05",
        "2020-08-06",
        "2020-08-07",
        "2020-08-08",
        "2020-08-09",
        "2020-08-10",
        "2020-08-11",
        "2020-08-12",
        "2020-08-13",
        "2020-08-14",
        "2020-08-15",
        "2020-08-16",
        "2020-08-17",
        "2020-08-18",
        "2020-08-19",
        "2020-08-20",
        "2020-08-21",
        "2020-08-22",
        "2020-08-23",
        "2020-08-24",
        "2020-08-25",
        "2020-08-26",
        "2020-08-27",
        "2020-08-28",
        "2020-08-29",
        "2020-08-30",
        "2020-08-31",
        "2020-09-01",
        "2020-09-02",
        "2020-09-03",
        "2020-09-04",
        "2020-09-05",
        "2020-09-06",
        "2020-09-07",
        "2020-09-08",
        "2020-09-09",
        "2020-09-10",
        "2020-09-11",
        "2020-09-12",
        "2020-09-13",
        "2020-09-14",
        "2020-09-15",
        "2020-09-16",
        "2020-09-17",
        "2020-09-18",
        "2020-09-19",
        "2020-09-20",
        "2020-09-21",
        "2020-09-22",
        "2020-09-23",
        "2020-09-24",
        "2020-09-25",
        "2020-09-26",
        "2020-09-27",
        "2020-09-28",
        "2020-09-29",
        "2020-09-30",
        "2020-10-01",
        "2020-10-02",
        "2020-10-03",
        "2020-10-04",
        "2020-10-05",
        "2020-10-06",
        "2020-10-07",
        "2020-10-08",
        "2020-10-09",
        "2020-10-10",
        "2020-10-11",
        "2020-10-12",
        "2020-10-13",
        "2020-10-14",
        "2020-10-15",
        "2020-10-16",
        "2020-10-17",
        "2020-10-18",
        "2020-10-19",
        "2020-10-20",
        "2020-10-21",
        "2020-10-22",
        "2020-10-23",
        "2020-10-24",
        "2020-10-25",
        "2020-10-26",
        "2020-10-27",
        "2020-10-28",
        "2020-10-29",
        "2020-10-30",
        "2020-10-31",
        "2020-11-01",
        "2020-11-02",
        "2020-11-03",
        "2020-11-04",
        "2020-11-05",
        "2020-11-06",
        "2020-11-07",
        "2020-11-08",
        "2020-11-09",
        "2020-11-10",
        "2020-11-11",
        "2020-11-12",
        "2020-11-13",
        "2020-11-14",
        "2020-11-15",
        "2020-11-16",
        "2020-11-17",
        "2020-11-18",
        "2020-11-19",
        "2020-11-20",
        "2020-11-21",
        "2020-11-22",
        "2020-11-23",
        "2020-11-24",
        "2020-11-25",
        "2020-11-26",
        "2020-11-27",
        "2020-11-28",
        "2020-11-29",
        "2020-11-30",
        "2020-12-01",
        "2020-12-02",
        "2020-12-03",
        "2020-12-04",
        "2020-12-05",
        "2020-12-06",
        "2020-12-07",
        "2020-12-08",
        "2020-12-09",
        "2020-12-10",
        "2020-12-11",
        "2020-12-12",
        "2020-12-13",
        "2020-12-14",
        "2020-12-15",
        "2020-12-16",
        "2020-12-17",
        "2020-12-18",
        "2020-12-19",
        "2020-12-20",
        "2020-12-21",
        "2020-12-22",
        "2020-12-23",
        "2020-12-24",
        "2020-12-25",
        "2020-12-26",
        "2020-12-27",
        "2020-12-28",
        "2020-12-29",
        "2020-12-30",
        "2020-12-31",
        "2021-01-01",
        "2021-01-02",
        "2021-01-03",
        "2021-01-04",
        "2021-01-05",
        "2021-01-06",
        "2021-01-07",
        "2021-01-08",
        "2021-01-09",
        "2021-01-10",
        "2021-01-11",
        "2021-01-12",
        "2021-01-13",
        "2021-01-14",
        "2021-01-15",
        "2021-01-16",
        "2021-01-17",
        "2021-01-18",
        "2021-01-19",
        "2021-01-20",
        "2021-01-21",
        "2021-01-22",
        "2021-01-23",
        "2021-01-24",
        "2021-01-25",
        "2021-01-26",
        "2021-01-27",
        "2021-01-28",
        "2021-01-29",
        "2021-01-30",
        "2021-01-31",
        "2021-02-01",
        "2021-02-02",
        "2021-02-03",
        "2021-02-04",
        "2021-02-05",
        "2021-02-06",
        "2021-02-07",
        "2021-02-08",
        "2021-02-09",
        "2021-02-10",
        "2021-02-11",
        "2021-02-12",
        "2021-02-13",
        "2021-02-14",
        "2021-02-15",
        "2021-02-16",
        "2021-02-17",
        "2021-02-18",
        "2021-02-19",
        "2021-02-20",
        "2021-02-21",
        "2021-02-22",
        "2021-02-23",
        "2021-02-24",
        "2021-02-25",
        "2021-02-26",
        "2021-02-27",
        "2021-02-28",
        "2021-03-01",
        "2021-03-02",
        "2021-03-03",
        "2021-03-04",
        "2021-03-05",
        "2021-03-06",
        "2021-03-07",
        "2021-03-08",
        "2021-03-09",
        "2021-03-10",
        "2021-03-11",
        "2021-03-12",
        "2021-03-13",
        "2021-03-14",
        "2021-03-15",
        "2021-03-16",
        "2021-03-17",
        "2021-03-18",
        "2021-03-19",
        "2021-03-20",
        "2021-03-21",
        "2021-03-22",
        "2021-03-23",
        "2021-03-24",
        "2021-03-25",
        "2021-03-26",
        "2021-03-27",
        "2021-03-28",
        "2021-03-29",
        "2021-03-30",
        "2021-03-31",
        "2021-04-01",
        "2021-04-02",
        "2021-04-03",
        "2021-04-04",
        "2021-04-05",
        "2021-04-06",
      ];

In [8]:
len(allDates)

462

In [ ]:
indices=[349,380,411,439,461]